<div class="rgt-cont">
    <div class="logout">
        <p class="logo-out">Logout</p>
        <img src="assets/images/logout.svg">          
    </div>
    <div class="user-content">
        <div class="user-img">
            <img src="/assets/images/users.png">
        </div>
        <h5>Anna Morisan</h5>
        <p>Student</p>
    </div>
    <div class="subject">
        <div class="eng">
            <div class="small">
                <p>B2</p>
            </div>
            <div class="text">
                <p>English</p>
                <p>High intermediate</p>
            </div>
            <div class="prog">
                
            </div>
        </div>
        <div class="span">
            <div class="small">
                <p>C1</p>
            </div>
            <div class="text">
                <p>Spanish</p>
                <p>Advanced</p>
            </div>
            <div class="prog">
                
            </div>
        </div>

    </div>
    <div class="rightbtm">
        <div class="rigt-rm">
            <p>Reminders</p>
        </div>
        <div class="btm-cont">
            <div class="btm-img red">

            </div>
            <div class="text">
                <p>Eng - Vacabulary Test</p>
                <p>24 Sep 2019, Friday</p>
            </div>
        </div>
        <div class="btm-cont">
            <div class="btm-img blue">

            </div>
            <div class="text">
                <p>Eng - Send Grammer</p>
                <p>24 Sep 2019, Friday</p>
            </div>
        </div>
    </div>
</div>
